/* 
=============== 
Fonts
===============
*/
@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400&display=swap");

body {
  font-family: var(--sudo-ff);
  background: var(--sudo-bkg-cl);
  color: var(--sudo-ft-cl);
  line-height: 1.5;
  font-size: 0.875rem;
}
/*
=============== 
Variables
===============
*/

:root {
  /* font families
  --sudo-ff: "PT Sans", sans-serif;

  /* fonts colors */
  --sudo-ft-cl: #333;
  --alt-ft-cl: #334;
  --alt2-ft-cl: #666;
  --alt3-ft-cl: #998;

  /* backgrounds colors */
  --sudo-bkg-cl: #f1f1f1;
  --alt-bkg-cl: #ddd;

  /* github colors */
  --gh-1: #125a96;
  --gh-2: #111;
  --gh-3: #196775;

  /* transitions */
  --sudo-trans: all ease-in-out 0.3s;
  --slow-trans: all ease-in-out 0.5s;

  /* radiuses */
  --sudo-rads: 3px;
  --hard-tads: 9px;

  /* spacing */
  --sudo-spacing: 3px;
  --alt-spacing: 6px;
}
/*
=============== 
Global Styles
===============
*/
